# Choose the AWS account you want to provide access to
account = "123456789012"

# Set the Wayfinder OIDC issuer, audience and subject
oidc_issuer = "wayfinder.run"
oidc_audience = "wayfinder:yourtenant"
oidc_subject = "wayfinder:yourtenant:cloudaccess-name"

# Choose the policies to bind to the identity, this example uses the AdministratorAccess policy:
# policy_assignments = [
#     "arn:aws:iam::aws:policy/AdministratorAccess"
# ]

# Set to false if the trust has already been provisioned in the account (it can only be provisioned once)
provision_oidc_trust = true

# Set suffix if provisioning multiple cloud access identities in a single account
resource_suffix = ""
